<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.choi.Planit.org.user.mapper.UserMapper">

    <insert id="join" parameterType="io.choi.Planit.org.user.domain.Users">
        <selectKey keyProperty="user_id" resultType="int" order="BEFORE">
            select seq_users.nextval from dual
        </selectKey>        
        insert into users (
            user_id, name, dept_id, dept_name, status, pos_id, rank_id, password, create_dt , manager_f
        ) values (
            #{user_id}, #{name}, #{dept_id}, #{dept_name}, #{status}, #{pos_id}, #{rank_id}, #{password}, #{create_dt}, #{manager_f}
        )
    </insert>
</mapper>
